<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/stylesheets/dashboard.css">
</head>
<body class="container">
    <!-- Top Header -->
    <div class="top-container">
        <div class="channel-headder">
            <div class="small-white-text">Channels/Groups</div>
            <div class="extra-large-white-text">Sondor Chaneels</div>
            <div>
                <button class="small-white-text clear-button">Join a channel/group </button>
            </div>
        </div>
        <div class="share-button-section ">
            <button class="small-white-text clear-button ">Share <img class="icon-size-20" src="assets/images/arrow-up-right.svg"></button>
        </div>
    </div>

    <!-- Welcome -->
    <div class="welcome-container">
        <div class="welcome-inner-container">
            <div class="large-black-text">Welcome to Sondor Channels</div>
            <div class="small-light-black-text">Sondor Experts are consultants, freelancers and agencies that can help setup your community and help you do more with automation and customization. Browse Experts based on what you need and reach out to start a conversation.</div>
            <div><button class="small-gray-text clear-button">See More</button></div>
        </div>
    </div>
    <!-- Cards -->
    <div class="channel-cards-container">
        <!-- card 1 -->
        <div class="channel-card">
            <img class="card-image" src="assets/images/channel-card.png">
            <div class="card-extra-small-text padding-left-right-10">AKS Ventures</div>
            <div class="card-large-text padding-left-right-10">Photo Critiques Space</div>
            <div class="small-light-black-text padding-left-right-10">Coffee chat and panel discussion on soapbox initiatives on making better product</div>
            <div class="card-user-tile padding-left-right-10">
                <img class="card-user-image" src="assets/images/small-avatar.png">
                <div class="card-user-text">Olivia Rhye</div>
            </div>
        </div>
        <!-- card 2 -->
        <div class="channel-card">
            <img class="card-image" src="assets/images/channel-card1.png">
            <div class="card-extra-small-text padding-left-right-10">Sondor</div>
            <div class="card-large-text padding-left-right-10">Web-design Community Design</div>
            <div class="small-light-black-text padding-left-right-10">Coffee chat and panel discussion on soapbox initiatives on making better product</div>
            <div class="card-user-tile padding-left-right-10">
                <img class="card-user-image" src="assets/images/small-avatar.png">
                <div class="card-user-text">Olivia Rhye</div>
            </div>
        </div>
        <!-- card 3 -->
        <div class="channel-card">
            <img class="card-image" src="assets/images/channel-card2.png">
            <div class="card-extra-small-text padding-left-right-10">Om Yoga Studio</div>
            <div class="card-large-text padding-left-right-10">Challenges Space | Werk Labs</div>
            <div class="small-light-black-text padding-left-right-10">Coffee chat and panel discussion on soapbox initiatives on making better product</div>
            <div class="card-user-tile padding-left-right-10">
                <img class="card-user-image" src="assets/images/small-avatar.png">
                <div class="card-user-text">Olivia Rhye</div>
            </div>
        </div>
        <!-- card 4 -->
        <div class="channel-card">
            <img class="card-image" src="assets/images/channel-card3.png">
            <div class="card-extra-small-text padding-left-right-10">Open Form Studio</div>
            <div class="card-large-text padding-left-right-10">Spaces for Intros and Onboarding</div>
            <div class="small-light-black-text padding-left-right-10">Coffee chat and panel discussion on soapbox initiatives on making better product</div>
            <div class="card-user-tile padding-left-right-10">
                <img class="card-user-image" src="assets/images/small-avatar.png">
                <div class="card-user-text">Olivia Rhye</div>
            </div>
        </div>
        <!-- card 5 -->
        <div class="channel-card">
            <img class="card-image" src="assets/images/channel-card4.png">
            <div class="card-extra-small-text padding-left-right-10">Sondor</div>
            <div class="card-large-text padding-left-right-10">Lead magnet space</div>
            <div class="small-light-black-text padding-left-right-10">Coffee chat and panel discussion on soapbox initiatives on making better product</div>
            <div class="card-user-tile padding-left-right-10">
                <img class="card-user-image" src="assets/images/small-avatar.png">
                <div class="card-user-text">Olivia Rhye</div>
            </div>
        </div>
        <!-- card 6 -->
        <div class="channel-card">
            <img class="card-image" src="assets/images/channel-card5.png">
            <div class="card-extra-small-text padding-left-right-10">Soap Box Project</div>
            <div class="card-large-text padding-left-right-10">Programming Course Space</div>
            <div class="small-light-black-text padding-left-right-10">Coffee chat and panel discussion on soapbox initiatives on making better product</div>
            <div class="card-user-tile padding-left-right-10">
                <img class="card-user-image" src="assets/images/small-avatar.png">
                <div class="card-user-text">Olivia Rhye</div>
            </div>
        </div>
    </div>
</body>
</html>